* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
body{
	background: url(../images/bg.jpg) repeat;
	font-size: 14px;
	position: relative;
	font-family: "微软雅黑";
}
ul{
	list-style: none;
}
a{
	color: #2E9BD2;
	text-decoration: none;
}
a:active, a:hover {
	color: #FF4B33;
}
header[role="main"] {
	background: url(../images/sprite.png) repeat-x;
	position: fixed;
	left: 0;
	width: 100%;
	height: 38px;
	padding-top: 8px;
	z-index: 1000;
}
header[role="main"] div{
	width: 960px;
	margin: 0 auto;
}
header[role="main"] span.left{
	float: left;
	display: block;
	margin: 0px 2px;
}
header[role="main"] span.right{
	float: right;
	display: block;
	margin: 0px 2px;
}
#content[role="main"]{
	width:1020px;
	/*width:720px;*/
	margin: 0 auto;
	padding: 60px 0px;
	position: relative;
}

#content section[role="main"]{
	width: 820px;
	float: left;
}

#content aside[role="main"]{
	padding-right: 20px;
	width: 160px;
	float: right;
}

div.subject {
	float: left;
	width: 200px;
	height: 150px;
	margin: 0 30px 20px 0;
	font-size: 15px;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px,rgba(0, 0, 0, 0.3) 0 2px 5px;
	-moz-box-shadow: rgba(0,0,0,0.2) 0 0 0 1px,rgba(0,0,0,0.3) 0 2px 5px;
	box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px,rgba(0, 0, 0, 0.3) 0 2px 5px;
}


div.subject:nth-child(3n+1) {
	clear: left;
}

/*post页面样式*/
.post{
	background: #f2f2f2;
	margin-bottom: 20px;
	padding: 15px 20px 15px 80px;
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
	border: 1px solid #ccc;
	border-radius: 5px;
}

.post .date{
	float: left;
	width: 100px;
	background: url(../images/sprite.png) bottom left no-repeat;
	padding-bottom: 14px;
	margin-left: -110px;
}
.post .date p{
	background: #eb374b;
	padding: 5px 10px;
	margin-bottom:0;
	line-height:1;
	text-align:right;
	font-family:MuseoSlabTumblr;
	color:#fff;
	font-size:0.75em;
}
.post .date p span{
	font-size:26px;
	display:block;
	clear:both;
}

.post a{
	display: block;
	font-size: 18px;
	/*padding: 4px 0px;*/
	/*color: #F9600A;*/
}
.post .content{
	border-bottom:1px dotted #a9a9a9;
}
.post .content .description{
	font-size: 16px;
    color: grey;
	padding: 5px 0px 10px 0px;
	line-height: 20px;
}
.post .info{
	padding-top: 10px;
}

/* 详情页面样式 */
.page {
	margin-bottom: 30px;
	background: #F2F2F2;
	padding: 30px 40px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 5px #CCC;
	-moz-box-shadow: 0px 0px 5px #ccc;
	-ms-box-shadow: 0px 0px 5px #ccc;
	-o-box-shadow: 0px 0px 5px #ccc;
	box-shadow: 0px 0px 5px #ccc;
	border: 1px solid #ccc;
	line-height: 20px;
	font-weight: normal;
}
.page header{
	font-size: 16px;
	border-left: 4px solid #D7D7D7;
	padding-left: 10px; 
	margin-bottom: 30px;
}
.page header .title{
	/*text-align: center;*/
	font-size: 22px;
	color: #2E9BD2;
}
.page header .info{
	display: block;
	padding:10px 0px;
}
.page .content em{
	font-weight: bold;
	font-size: 15px;
}
.page .content h1{
	font-size: 18px;
	margin: 10px 0px;
}
.page .content h2{
	font-size: 16px;
	margin: 10px 0px;
}
.page .content h3{
	font-size: 14px;
	margin: 10px 0px;
}
.page .content p{
	margin: 10px 0px;
}
.page .content{
	padding-bottom: 15px;
	border-bottom: 1px solid #ccc;
	margin: 20px 0px;
}

pre{
	margin: 1em 0 1.5em 0;
	font-size: 1em;
	font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace !important;
	line-height: 1.5em;
	color: #111;
	/*background: #ccc;*/
	border: 1px solid #ccc;
	padding: 0.5em 1em;
	overflow: hidden;
	box-shadow: 1px 1px 6px #CCC;
	-webkit-box-shadow: 1px 1px 6px #CCC;
	-moz-box-shadow: 1px 1px 6px #CCC;
}

.threeD{
	 font:normal 20px Arial;
	 color:#FFFFFF;
	 text-shadow: 0 2px 0 #EAB0B6,
				 0 2px 0 #c9c9c9,
				 0 3px 0 #bbb,
				 0 4px 0 #b9b9b9,
				 0 5px 0 #aaa,
				 0 6px 1px rgba(0,0,0,.1),
				 0 0 5px rgba(0,0,0,.1),
				 0 1px 3px rgba(0,0,0,.3),
				 0 3px 5px rgba(0,0,0,.2),
				 0 5px 10px rgba(0,0,0,.5),
				 0 10px 10px rgba(0,0,0,.3),
				 0 20px 20px rgba(0,0,0,.4);
}

/* ul li 样式 */
ul.delimited {
	border-bottom: 1px solid #EFEFEF;
	border-bottom: 1px solid rgba(255, 255, 255, 0.7);
	border-top: 1px solid #CCC;
	border-top: 1px solid rgba(0, 0, 0, 0.12);
	margin: 0 0 20px;
	font-size: 14px;
}
ul.delimited li {
	padding: 5px 10px;
	border-top: 1px solid #EFEFEF;
	border-top: 1px solid rgba(255, 255, 255, 0.7);
	border-bottom: 1px solid #CCC;
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
	overflow: hidden;
}

#table-content{
	position: fixed;
	width: 280px;
	/*right: 100px;
	top:200px;*/
}
#table-content ul{
	font-weight: bold;
}
#table-content ul > ul{
	font-weight: normal;
	padding-left: 20px;
}
#table-content li{
	padding-top: 5px;
}
#table-content a{
	color:#464547;
}
#table-content a:active,#table-content a:hover {
	color: #224b8f;
}
#table-content .title{
	font-size: 16px;
	text-align: center;
	color:#11264f;
}

/*
    webkit scroll bars
*/

pre::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

pre::-webkit-scrollbar-button:start:decrement,
pre::-webkit-scrollbar-button:end:increment {
    display: block;
    height: 0;
    width: 0;
}

pre::-webkit-scrollbar-button:vertical:increment,
pre::-webkit-scrollbar-button:horizontal:increment {
    background-color: transparent;
    display: block;
    height: 0;
    width: 0;
}

pre::-webkit-scrollbar-track-piece {
    -webkit-border-radius: 3px;
}

pre::-webkit-scrollbar-thumb:vertical {
    background-color: #aaa;
    -webkit-border-radius: 3px;

}

pre::-webkit-scrollbar-thumb:horizontal {
    background-color: #aaa;
    -webkit-border-radius: 3px;
}
